# Backend environment variables
PORT=3000
DATABASE_URL=dopablocker.db
FIREBASE_PROJECT_ID=dopablocker-b8425
FIREBASE_API_KEY=
SQLCIPHER_KEY=trocar-por-uma-chave-segura-de-pelo-menos-32-caracteres
RUST_LOG=info
